body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  background-color: hotpink;
  /* width: 100%; */
  /* height:100px; bottom:0; */

}

.header {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 6vw; 
  background-color: #e0e0e0
 

}

.textDivs {
  display: block;
  width: 100%; 
  align-items: center;
  text-align: left;
  /* background-color: gainsboro; */
  padding-left: 5%;
  
}

#root {
  background-color: none
  
 
}

.outerGridDiv {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  padding:10px;
  justify-content: space-evenly;
}

.innerGridDiv {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 16;
  justify-content: space-evenly;
}